/*--- all elements by page------*/
*{ 
   	outline:    0;
   	margin:     0 auto;
   	padding:    0;
}

body {
 	-webkit-transform: translate3d(0, 0, 0);
 	background: 		#f7f7f7;
}

.content{
   	width: 		976px;
   	margin: 	0 auto;
} 

/*--- CCS Video block show------*/

.hide {
	display: none;
	}

.show {

	background: url(../img/video.jpg) no-repeat;
	
	width: 976px;

	}
	

/*--- CCS Video block show end------*/



}
/*.head{
	background: 	url(../img/head.jpg) no-repeat;
	width: 			1900px;
	height: 		82px;
}

.head2{
	background: 	url(../img/head2.jpg) no-repeat;
	width: 			976px;
	height: 		22px;
	margin-left: 	469px;
}*/


#link{
	
	background: 	url(../img/block3.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
	margin-right: 	2.35%;
	margin-bottom:  2.35%;
	margin-top: 	2.35%;
	
}


#link2{
	
	background: 	url(../img/block6.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
	margin-right: 	2.35%;
	margin-bottom:  2.35%;
	margin-top: 	2.35%;
}
#link3{
	
	background: 	url(../img/block1.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
	margin-bottom:  2.35%;
	margin-top: 	2.35%;
}
#link4{
	
	background: 	url(../img/block4.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
	margin-right: 	2.35%;
	margin-bottom:  2.35%;
}
#link5{
	
	background: 	url(../img/block5.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
	margin-right: 	2.35%;
	margin-bottom:  2.35%;
}
#link6{
	
	background: 	url(../img/block6.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
	margin-bottom:  2.35%;
}
#link7{
	
	background: 	url(../img/block7.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
	margin-right: 	2.35%;
}
#link8{
	
	background: 	url(../img/block8.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
	margin-right: 	2.35%;
}
#link9{
	
	background: 	url(../img/block9.jpg) no-repeat;
	width:  		30%;
	height:			210px;
	float: 			left;
}
.music{
	background:    url(../img/music_img.jpg) no-repeat;
	width:  		60px;
	height:			60px;
	margin-top: 	150px;
}
.video{
	background:     url(../img/video_img.jpg) no-repeat;
	width:  		60px;
	height:			60px;
	margin-top: 	150px;
}
.film{
	background:     url(../img/film_img.jpg) no-repeat;
	width:  		60px;
	height:			60px;
	margin-top: 	150px;
}

/*p.box{
	margin-left: 0px;
	margin-top: -70px;
	width:  	60px;
	height:		60px;
	display: 	none;
}

p.box:hover{
	display:	;
	font: 16px 'Robots' sans-serif;
	text-align: center;
	color: 		white;
	margin-left: -25px;
	position:   absolute;
	width:  	342px;
	height:		34px;
}*/

.film:hover {
	background:     url(../img/play_big.png) 50% 50% no-repeat, #67ac65;
	width:			100%;
	height:			210px;

	margin-top:		0 ;
}

.music:hover {
	background:    url(../img/play_big.png) 50% 50% no-repeat, #5f97d8;
	width:			100%;
	height:			210px;
	
	margin-top:		0 ;
}

.video:hover {
	background: 	url(../img/background_image.jpg) 50% 50% no-repeat, #cf4239;
	width:			100%;
	height:			210px;
	margin-top:		0 ;
}

#block{
	position: absolute;
	background:  url(../img/video.jpg) no-repeat;
	width: 		 976px;
	height:		 642px;
}

#block2{
	position: absolute;
	background:  url(../img/video2.jpg) no-repeat;
	width: 		 950px;
	height:		 642px;
	margin-left: -320px;
}

#block3{
	position: absolute;
	background:  url(../img/video3.jpg) no-repeat;
	width: 		 950px;
	height:		 642px;
	margin-left: -640px;
}

<!--============================== clearfix =================================-->

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


 
 /*************** SCROLLBAR BASE CSS ***************/

   .scroll-wrapper {
        overflow: hidden !important;
        padding: 0 !important;
        position: relative;
     }

            .scroll-wrapper > .scroll-content {
                border: none !important;
                box-sizing: content-box !important;
                height: auto;
                left: 0;
                margin: 0;
                max-height: none !important;
                max-width: none !important;
                overflow: scroll !important;
                padding: 0;
                position: relative !important;
                top: 0;
                width: auto !important;
            }

            .scroll-wrapper > .scroll-content::-webkit-scrollbar {
                height: 0;
                width: 0;
            }

            .scroll-element {
                display: none;
            }
            .scroll-element, .scroll-element div {
                box-sizing: content-box;
            }

            .scroll-element.scroll-x.scroll-scrollx_visible,
            .scroll-element.scroll-y.scroll-scrolly_visible {
                display: block;
            }

            .scroll-element .scroll-bar,
            .scroll-element .scroll-arrow {
                cursor: default;
            }

            .scroll-textarea {
                border: 1px solid #cccccc;
                border-top-color: #999999;
            }
            .scroll-textarea > .scroll-content {
                overflow: hidden !important;
            }
            .scroll-textarea > .scroll-content > textarea {
                border: none !important;
                box-sizing: border-box;
                height: 100% !important;
                margin: 0;
                max-height: none !important;
                max-width: none !important;
                overflow: scroll !important;
                outline: none;
                padding: 2px;
                position: relative !important;
                top: 0;
                width: 100% !important;
            }
            .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
                height: 0;
                width: 0;
            }
