{% extends 'blog/post_list.html' %}

{% block title %}{{ post.title }} | {{ SITE.name }}{% endblock %}

{% block subcontent %}
    <div class="row">
        <div class="post">
            <h2>{{ post.title|capfirst }}</h2>
            <!--<div class="details text-muted">Автор: {{ post.author }}.
                Опубликовано {{ post.date_published|date:"j E Y" }} в {{ post.date_published|time:"G:i" }}</div>-->

            <div class="post-body">
                <div class="clearfix"></div>
                {{ post.text|safe }}
                <div class="clearfix"></div>
            </div>
            <div class="post-summary">
                <div class="clearfix"></div>
                {{ post.summary|safe }}
                <div class="clearfix"></div>
            </div>
            <div class="text-right text-muted" style="margin-bottom: 40px;">автор: {{ post.author.first_name }} {{ post.author.last_name }}</div>

            <!-- Put this script tag to the <head> of your page -->
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>

            <script type="text/javascript">
              VK.init({apiId: 3486494, onlyWidgets: true});
            </script>

            <!-- Put this div tag to the place, where the Comments block will be -->
            <div id="vk_comments"></div>
            <script type="text/javascript">
            VK.Widgets.Comments("vk_comments", {limit: 10, width: "607", attach: "*"});
            </script>

        </div>
    </div>
{% endblock %}