
/*Style Home Page  */
/*The First block*/
.section1
{
	height: 789px;
	background: url('../img/woman-doing-yoga.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#block_with_text
{
	left: 49%;
	position: relative;
	text-align: center;
	top: 11%;
	width: 450px;
}
#First_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 56px;
	font-weight: bold;
	line-height: 1.4;
}
#Second_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 170px;
	font-weight: 900;
}
#triangle
{
	height: 86px;
	position: relative;
	top: 37px;
	width: 201px;
}
/*The Second block*/
.section2
{
	height: 340px;
	background: url('../img/colored_blocks.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#Colored_blocks
{
	width: 886px;
	margin: 0 auto;

}
.Pink_block
{
	float: left;
	padding: 0;
	width: 400px;
}
.Pink_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 64px;
	font-weight: bold;
	line-height: 2;
	text-align: right;
}
.Pink_block p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	text-align: justify;
	text-indent: 35px;
	width: 416px;

}
.Red_block
{
	float: left;
	margin: 0 0 0 38px;
	width: 410px;
}
.Red_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 56px;
	font-weight: bold;
	line-height: 2.3;
	text-align: center;
}
.Red_block p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	line-height: 1.1;
	text-align: left;
	text-indent: 35px;
	width: 410px;
}
/*The Third block*/
.section3
{
	width: 927px;
	margin: 0 auto;
}
.section3  h1
{
	font-family: Arial;
	font-size: 64px;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
	color: #000;
	margin-top: 60px;
}

.section3  p
{
	font-family: Arial;
	font-size: 19.74px;
	line-height: 1.2;
	padding: 20px 0 0;
	text-align: justify;
	text-indent: 35px;
}
.section3  img
{
	height: 578px;
	margin: 52px auto 0;
	width: 86%;
}
/*The Fourth block*/
.section4
{
	height: 877px;
	background: url('../img/apparatus_for_testing.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	margin-top: 43px;

}
#Advantage
{
	background-color: rgba(255, 255, 255, 0.89);
	margin: 0 auto;
	position: relative;
	top: 170px;
	width: 897px;
	height: 500px;
}
#Advantage h1
{
	font-family: Arial;
	font-size: 64px;
	font-weight: bold;
	line-height: 1.3;
	padding: 55px 0 0;
	text-align: center;
	color: #000;
}
#Advantage p
{
	font-family: Arial;
	font-size: 19.74px;
	line-height: 1.2;
	margin: 0 18px;
	padding: 52px 0 0;
	text-align: justify;
	text-indent: 35px;
	width: 865px;
}
/*The Fifth block*/
.section5
{
	height: 236px;
	background: url('../img/Conditions_treated.png') no-repeat;
	background-position: center center;
	background-size: cover;

}
.section5 h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 64px;
	font-weight: bold;
	line-height: 1.3;
	padding: 26px 0 0;
	text-align: center;
}
/*The Sixth block*/
.section6
{
	height: 862px;
	background: url('../img/manipulation.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	bottom: 31px;
	position: relative;
	z-index: -2;
}
#Translucent_block
{
	background-color: rgba(255, 255, 255, 0.58);
	width: 100%;
	height: 325px;
}
#Translucent_block p
{
	font-family: Arial;
	font-size: 19.74px;
	line-height: 1.2;
	margin: 0 auto;
	padding: 43px 0 0;
	text-align: justify;
	width: 420px;
}
/*The Seventh block*/
.container_12 {
}
.container_12 {
    z-index: 0;
}
.container_12:before, .container_12:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.section7 {
    border-bottom: 1px solid #888888;
    margin-bottom: 45px;
}
.section7 > div.full-width-div {
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 45px;
}
.section7 .contact-form {
    float: left;
    width: 315px;
}
.section7 .contacts {
    float: right;
    font-size: 18px;
    width: 580px;
}
.section7 .contacts p span {
    color: #888888;
    display: inline-block;
    line-height: 32px;
    width: 75px;
}
.section7 .contact-form input, .section7 .contact-form textarea {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 2%;
    width: 96% !important;
}
.section7 .contact-form input {
    height: 40px;
    margin-bottom: 5px;
}
.section7 .contact-form label {
    font-size: 18px;
    margin-left: 0;
}
.section7 .contact-form .ninja-forms-required-items {
    bottom: 5px;
    position: absolute;
    width: 135px;
}
.section7 .contact-form input[type="submit"] {
    background: none repeat scroll 0 0 #fff;
    border-color: #1fabff;
    color: #1fabff;
    font-size: 18px;
    width: 145px !important;
}
div.sidebar_contact {
    display: none;
}
@media only screen and (min-width: 810px) and (max-width: 1001px) {
.section7 .contact-form, .section7 .contacts {
    float: none;
    width: 100%;
}
}
@media only screen and (max-width: 809px) {
body {
    overflow-x: hidden;
}
.section7 .contact-form, .section7 .contacts {
    float: none;
    margin: 0 auto;
    width: 95%;
}
}
@media only screen and (max-width: 599px) {
.section7, .section7 > div.full-width-div {
    border-bottom: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.section7 .contacts {
    font-size: 13px;
    margin-top: 25px;
}
.section7 .contacts p span {
    line-height: inherit;
    width: 100%;
}
}


@media only screen and (min-width: 768px) and (max-width: 960px) {
.section1
{
	height: 789px;
	background: url('../img/woman-doing-yoga.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#block_with_text
{
	left: 47%;
    position: relative;
    text-align: center;
    top: 15%;
    width: 300px;
}
#First_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 34px;
	font-weight: bold;
	line-height: 1.4;
}
#Second_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 100px;
	font-weight: 900;
}
#triangle
{
	height: 78px;
	position: relative;
	top: 20px;
	width: 123px;
}
/*The Second block*/
.section2
{
	height: 340px;
	background: url('../img/colored_blocks.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#Colored_blocks
{
	width: 830px;
	margin: 0 auto;

}
.Pink_block {
float: left;
padding: 0;
width: 306px;
}
.Pink_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 45px;
	font-weight: bold;
	line-height: 2;
	text-align: right;
}
.Pink_block p {
color: #ffffff;
font-family: Arial;
font-size: 17px;
margin-left: 12px;
text-align: justify;
text-indent: 35px;
width: 322px;
}

.Red_block 
{
float: left;
margin: -4px 0 0 138px;
width: 320px;
}
.Red_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 48px;
	font-weight: bold;
	line-height: 2.3;
	text-align: center;
}
.Red_block p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	line-height: 1.1;
	text-align: left;
	text-indent: 35px;
	width: 290px;
}
/*The Third block*/
.section3
{
	width: 600px;
	margin: 0 auto;
}
.section3  h1
{
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	line-height: 2;
	text-align: center;
	color: #000;
}

.section3  p
{
	font-family: Arial;
	font-size: 19.74px;
	line-height: 1.2;
	padding: 20px 0 0;
	text-align: justify;
	text-indent: 35px;
}
.section3  img
{
	height: 578px;
	margin: 50px auto 0;
	width: 100%;
}
/*The Fourth block*/
.section4
{
	height: 877px;
	background: url('../img/apparatus_for_testing.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	margin-top: 43px;

}
#Advantage
{
	background-color: rgba(255, 255, 255, 0.89);
	margin: 0 auto;
	position: relative;
	top: 170px;
	width: 100%;
	height: 500px;
}
#Advantage h1
{
	color: #000;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    padding: 25px 0 0;
    text-align: center;
}
#Advantage p
{
	font-family: Arial;
    font-size: 19.74px;
    line-height: 1.2;
    margin: 0 14px;
    padding: 58px 0 0;
    text-align: justify;
    text-indent: 35px;
    width: 97%;
}
/*The Fifth block*/
.section5
{
	height: 236px;
	background: url('../img/Conditions_treated.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
.section5 h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 50px;
	font-weight: bold;
	line-height: 1.3;
	padding: 26px 0 0;
	text-align: center;
}
/*The Sixth block*/
.section6
{
	height: 862px;
	background: url('../img/manipulation.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	bottom: 31px;
	position: relative;
	z-index: -2;
}
#Translucent_block
{
	background-color: rgba(255, 255, 255, 0.58);
	width: 100%;
	height: 325px;
}
#Translucent_block p
{
	font-family: Arial;
	font-size: 19.74px;
	line-height: 1.2;
	margin: 0 auto;
	padding: 43px 0 0;
	text-align: justify;
	width: 420px;
}
}
@media only screen and (min-width: 640px) and (max-width: 768px) {
.section1
{
	height: 789px;
	background: url(../img/woman-doing-yoga.png) no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#block_with_text
{
	left: 47%;
    position: relative;
    text-align: center;
    top: 15%;
    width: 300px;
}
#First_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 34px;
	font-weight: bold;
	line-height: 1.4;
}
#Second_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 100px;
	font-weight: 900;
}
#triangle
{
	height: 78px;
	position: relative;
	top: 20px;
	width: 123px;
}
/*The Second block*/
.section2
{
	height: 340px;
	background: url('../img/colored_blocks.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#Colored_blocks
{
	width: 830px;
	margin: 0 auto;

}
.Pink_block
{
	float: left;
	padding: 0;
	width: 280px;
}
.Pink_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 45px;
	font-weight: bold;
	line-height: 2;
	text-align: right;
}
.Pink_block p
{
	color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    margin-left: 12px;
    text-align: justify;
    text-indent: 35px;
    width: 260px;

}
.Red_block
{
	float: left;
	margin: -4px 0 0 30px;
	width: 320px;
}
.Red_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 48px;
	font-weight: bold;
	line-height: 2.3;
	text-align: center;
}
.Red_block p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	line-height: 1.1;
	text-align: left;
	text-indent: 35px;
	width: 290px;
}
/*The Third block*/
.section3
{
	width: 600px;
	margin: 0 auto;
}
.section3  h1
{
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	line-height: 2;
	text-align: center;
	color: #000;
}

.section3  p
{
	font-family: Arial;
	font-size: 19.74px;
	line-height: 1.2;
	padding: 20px 0 0;
	text-align: justify;
	text-indent: 35px;
}
.section3  img
{
	height: 578px;
	margin: 50px auto 0;
	width: 100%;
}
/*The Fourth block*/
.section4
{
	height: 877px;
	background: url('../img/apparatus_for_testing.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	margin-top: 43px;

}
#Advantage
{
	background-color: rgba(255, 255, 255, 0.89);
	margin: 0 auto;
	position: relative;
	top: 170px;
	width: 100%;
	height: 500px;
}
#Advantage h1
{
	color: #000;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    padding: 25px 0 0;
    text-align: center;
}
#Advantage p
{
	font-family: Arial;
    font-size: 19.74px;
    line-height: 1.2;
    margin: 0 14px;
    padding: 58px 0 0;
    text-align: justify;
    text-indent: 35px;
    width: 97%;
}
/*The Fifth block*/
.section5
{
	height: 236px;
	background: url('../img/Conditions_treated.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
.section5 h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 50px;
	font-weight: bold;
	line-height: 1.3;
	padding: 26px 0 0;
	text-align: center;
}
/*The Sixth block*/
.section6
{
	height: 862px;
	background: url('../img/manipulation.png') no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	bottom: 31px;
	position: relative;
	z-index: -2;
}
#Translucent_block
{
	background-color: rgba(255, 255, 255, 0.58);
	width: 100%;
	height: 325px;
}
#Translucent_block p
{
	font-family: Arial;
	font-size: 19.74px;
	line-height: 1.2;
	margin: 0 auto;
	padding: 43px 0 0;
	text-align: justify;
	width: 420px;
}
}

@media only screen and (min-width: 320px) and (max-width: 470px) {

/*Style Home Page Mobile Version  */

main
{
	max-width: 320px;
	min-width: 320px;
}

/*The First block*/
.section1
{
	height: 265px;
	background: url('../img/m_woman-doing-yoga.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#block_with_text
{
	left: 51%;
	position: relative;
	text-align: center;
	top: 13%;
	width: 150px;
}
#First_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 19px;
	font-weight: bold;
}
#Second_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 57px;
	font-weight: 900;
}
#triangle
{
	height: 29px;
	position: relative;
	top: 13px;
	width: 67px;
}
/*The Second block*/
.section2
{
	height: 678px;
	background: url('../img/m_colored_blocks.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#Colored_blocks {
    margin: 0 auto;
    width: 320px;
}
.Pink_block
{
	width: 270px;
	margin: 0 auto;
}
.Pink_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	line-height: 3;
	text-align: center;
}
.Pink_block p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	padding: 8px 8px 0;
	text-align: justify;
	text-indent: 35px;
	width: 270px;
}
.Red_block
{
	margin: 110px auto 0;
	width: 270px;
}
.Red_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	line-height: 3;
	text-align: center;
}
.Red_block p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	line-height: 1.1;
	padding: 8px 12px 0;
	text-indent: 35px;
	width: 270px;
}
/*The 3 block*/

.section3
{
	width: 270px;
	margin: 0 auto;
}
.block_diagnosis
{
	width: 298px;
	margin: 0 auto;
}
.section3  h1
{
	font-family: Arial;
	font-size: 35px;
	font-weight: bold;
	line-height: 1.3;
	padding: 68px 0 50px;
	text-align: center;
}

.section3  p
{
	font-family: Arial;
	font-size: 16px;
	line-height: 1;
	padding: 25px 0 0;
	text-align: justify;
	text-indent: 35px;

}
.section3  img
{
	height: 295px;
	margin: 50px auto 0;
	width: 100%;
}
/*The 4 block*/
.section4
{
	height: 771px;
	background: url('../img/m_apparatus_for_testing.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	margin-top: 43px;
}
#Advantage
{
	background-color: rgba(255, 255, 255, 0.89);
	height: 488px;
	margin: 0 auto;
	position: relative;
	top: 120px;
	width: 270px;
}
#Advantage h1
{
	font-family: Arial;
	font-size: 35px;
	font-weight: bold;
	line-height: 1.3;
	padding: 0;
	text-align: center;
}
#Advantage p
{
	font-family: Arial;
	font-size: 15px;
	line-height: 1;
	margin: 0 16px;
	padding: 10px 0 0;
	text-align: justify;
	text-indent: 35px;
	width: 90%;
}
/*The 5 block*/
.section5
{
	height: 236px;
	background: url('../img/m_Conditions_treated.png') no-repeat;
	background-position: center center;
	background-size: cover;

}
.section5 h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.3;
	padding: 26px 0 0;
	text-align: center;
}
/*The 6 block*/
.section6
{
	height: 222px;
	background: url('../img/m_manipulation.png') no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	bottom: 31px;
	position: relative;
	z-index: -2;
}
#Translucent_block
{
	background-color: rgba(255, 255, 255, 0.58);
	width: 100%;
	height: 222px;
}
#Translucent_block p
{
	font-family: Arial;
	font-size: 15px;
	line-height: 1.2;
	margin: 0 auto;
	padding: 43px 0 0;
	text-align: justify;
	width: 270px;
}
.section7, .section7 > div.full-width-div {
    border-bottom: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 15px;
}
/*The Eighth block*/
.section8
{
	width: 320px;
	margin: 43px auto 0;
}
#form
{
	width: 307px;
	margin: 0 auto;
}
/*The Ninth block*/
.section9
{
	width: 320px;
	margin: 40px auto 0;
}
#Contacts
{
	width: 320px;
}
#Contacts  p
{
	font-family: Arial;
	font-size: 13px;
	line-height: 1.5;
	padding: 0 0 0 5px;
}
#Contacts  b
{
	color: #888888;
}
/*The Tenth block*/
#Block_10
{
	width: 320px;
	margin: 32px auto 0;
}
/*The Eleventh block*/
#Block_11
{
	width: 320px;
	margin: 32px auto 0;
}
#Block_11 ul
{
	float: left;
	margin-left: 5px;
}
#Block_11 li
{
	margin: 0 auto;
	width: 240px;
}
#Block_11 p
{
	bottom: 22px;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	left: 20px;
	line-height: 1;
	position: relative;
	width: 240px;
}
.greater_than
{
	color: #1fabff;
	font-family: Arial;
	font-size: 25px;
	font-weight: bolder;
	margin: 0 10px 0 0;
	quotes: "" ">";
}

.greater_than:before
{
	content: open-quote;
}
.greater_than:after
{
	content: close-quote;
}
}

@media only screen and (min-width: 480px) and (max-width: 630px) {


.main
{
	max-width: 630px;
	min-width: 480px;
}

/*The First block*/
.section1
{
	height: 265px;
	background: url('../img/m_woman-doing-yoga.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
#block_with_text
{
	left: 51%;
	position: relative;
	text-align: center;
	top: 5%;
	width: 213px;
}
#First_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 21px;
	font-weight: bold;
}
#Second_title_of_first_block
{
	color: #ffffff;
	font-family: Arial;
	font-size: 66px;
	font-weight: 900;
}
#triangle
{
	height: 29px;
	position: relative;
	top: 13px;
	width: 79px;
}
/*The Second block*/
.section2
{
	height: 678px;
	background: url('../img/m_colored_blocks.png') no-repeat;
	background-position: center center;
	background-size: cover;

}
#Colored_blocks {
    margin: 0 auto;
    width: 520px;
}
.Pink_block
{
	width: 100%;
	margin: 0 auto;
}
.Pink_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	line-height: 3;
	text-align: center;
}
.Pink_block p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	padding: 8px 67px 0;
	text-align: justify;
	text-indent: 35px;
	width: 66%;
}
.Red_block
{
	margin: 165px auto 0;
	width: 92%;
}
.Red_block h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	line-height: 3;
	text-align: center;
}
.Red_block p 
{
color: #ffffff;
font-family: Arial;
font-size: 16px;
line-height: 1.1;
padding: 8px 90px 0;
text-indent: 35px;
width: 66%;
}
/*The 3 block*/

.section3
{
	width: 90%;
	margin: 0 auto;
}
.block_diagnosis
{
	width: 90%;
	margin: 0 auto;
}
.section3  h1
{
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.3;
	padding: 68px 0 50px;
	text-align: center;
}

.section3  p
{
	font-family: Arial;
	font-size: 16px;
	line-height: 1;
	padding: 25px 0 0;
	text-align: justify;
	text-indent: 35px;

}
.section3  img
{
	height: 295px;
	margin: 50px auto 0;
	width: 100%;
}
/*The 4 block*/
.section4
{
	height: 771px;
	background: url('../img/m_apparatus_for_testing.png') no-repeat;
	background-position: center center;
	background-size: cover;
	margin-top: 43px;
}
#Advantage
{
	background-color: rgba(255, 255, 255, 0.89);
	height: 488px;
	margin: 0 auto;
	position: relative;
	top: 120px;
	width: 90%;
}
#Advantage h1
{
	font-family: Arial;
	font-size: 35px;
	font-weight: bold;
	line-height: 1.3;
	padding: 20px 0 0;
	text-align: center;
}
#Advantage p
{
	font-family: Arial;
	font-size: 16px;
	line-height: 1;
	margin: 0 16px;
	padding: 20px 0 0;
	text-align: justify;
	text-indent: 35px;
	width: 90%;
}
/*The 5 block*/
.section5
{
	height: 236px;
	background: url('../img/m_Conditions_treated.png') no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 120px 0 0;

}
.section5 h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.3;
	padding: 8px 0 0;
	text-align: center;
}
/*The 6 block*/
.section6
{
	height: 222px;
	background: url('../img/m_manipulation.png') no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	bottom: 47px;
	position: relative;
	z-index: -2;
}
#Translucent_block
{
	background-color: rgba(255, 255, 255, 0.58);
	width: 100%;
	height: 222px;
}
#Translucent_block p
{
	font-family: Arial;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 auto;
	padding: 36px 0 0;
	text-align: justify;
	width: 350px;
}
}