/*--- all elements by page------*/
*{ 
   	outline:    0;
   	margin:     0 auto;
   	padding:    0;
}

.bg{

	background: #f7f7f7;
}

.content{
   	width: 		976px;
   	margin: 	0 auto;
} 

.head{
	background: 	url(../img/head.jpg) no-repeat;
	width: 			1900px;
	height: 		82px;
}

.all{
	background: 	url(../img/head2.jpg) no-repeat;
	width: 			976px;
	height: 		22px;
}

.block1{
	background:  url(img/block1.jpg) no-repeat;
	width: 		30%px;
	height: 	210px;
}
.block2{
	background:  url(../img/block2.jpg) no-repeat;
	width: 		30%;
	height: 	210px;
}
.block3{
	background:  url(../img/block3.jpg) no-repeat;
	width: 		30%;
	height:		210px;
}
.block4{
	background:  url(../img/block4.jpg) no-repeat;
	width: 		30%;
	height: 	210px;
}
.block5{
	background:  url(../img/block5.jpg) no-repeat;
	width: 		30%;
	height: 	210px;
}
.block6{
	background:  url(../img/block6.jpg) no-repeat;
	width: 		30%;
	height: 	210px;
}
.block7{
	background:  url(../img/block7.jpg) no-repeat;
	width: 		30%;
	height: 	210px;
}
.block8{
	background:  url(../img/block8.jpg) no-repeat;
	width: 		30%;
	height: 	210px;
}
.block9{
	background:  url(../img/block9.jpg) no-repeat;
	width: 		30%;
	height: 	210px;
}